@model ESA.Models.Product

<div class="card">
    <img class="card-img-top" src="@Model.ImgURL" alt=""> 
    <div class="card-body">
        <h5 class="card-title">@Model.Brand</h5> 
        <p class="card-text">Model: @Model.Type</p>
        <p class="card-text">@Model.Price<strong> ₺</strong></p>
        <form method="post" action="/Product/BuyProduct">
            <input type="hidden" name="ProductId" value="@Model.ProductID" />
            <button type="submit" class="btn btn-primary">Buy Now!</button>
        </form>
    </div> 
</div>
<br>